<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" android:usesPermissionFlags="neverForLocation"
        android:minSdkVersion="33"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.settings.IGNORE_BATTERY_OPTIMIZATION_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>
        <intent>
            <action android:name="android.settings.panel.action.INTERNET_CONNECTIVITY" />
        </intent>
        <intent>
            <action android:name="android.settings.panel.action.WIFI" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:name=".ForceApplication"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">
        <receiver
            android:name=".ForceWifiAppWidget"
            android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/force_wifi_app_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity$AddWidgetActivity"
            android:exported="false"
            android:label="@string/add_widget" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="de.erichambuch.forcewifi5.VIEW_DATA_PROTECTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.erichambuch.forcewifi5.VIEW_MARKET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.erichambuch.forcewifi5.VIEW_PRIVACY_OPTIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.erichambuch.forcewifi5.VIEW_FAQ" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.erichambuch.forcewifi5.SHOW_OVERLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:exported="false"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:exported="false"
            android:theme="@style/AppTheme.ActionBar" />

        <service
            android:name=".WifiChangeService" android:foregroundServiceType="location"
            android:exported="false"
            tools:ignore="ForegroundServicePermission" />
        <service
            android:name=".WifiChangeService14"
            android:exported="false" />

        <!-- WorkManager, Android 12 https://developer.android.com/guide/background/persistent/how-to/long-running -->
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService" android:foregroundServiceType="location"
            tools:node="merge"
            tools:ignore="ForegroundServicePermission" />

        <!-- works only up to Android 9 -->
        <receiver android:name=".MainActivity$NetworkStateChangedReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.NETWORK_STATE_CHANGED_ACTION"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".StartOnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <!-- Workaround WorkManager Android 12 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <!-- not necessary yet, maybe in future releases
        <property android:name="android.net.PROPERTY_SELF_CERTIFIED_NETWORK_CAPABILITIES"
            android:resource="@xml/networkcapas"/>
            -->
    </application>

</manifest>